#Files of vscode
.vscode/*

#git files
gitignore

#node_modules
node_modules

#Files of IntelliJ IDEA
.idea/*
IngenioValleSensors.iml

#Files of Eclipse IDE
.settings/*
.classpath
.project

#Bin files
bin/*
.class/*