@font-face {
    font-family: Pontano-Sans;
    src: url('fuentes/PontanoSans-Regular.ttf');
}


body{
    height: 600px;
    background-image: url('/img/FondoEmpresa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.userBtn{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-basis: auto;
    margin-left: 1150px;
    border-radius: 20px;
    background-color: black;
}

.userBtn-icono{
    width: 100px;
    height: 40px;
    color: aliceblue;
}



.texto-usuarios{
    color: aliceblue;
    font-family: Pontano-Sans;
}


.userBtn:hover{
    background-color: rgba(0, 0, 0, 0.798);
    border-color: antiquewhite;
}

.menu-container{
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    display: grid;
    border-radius: 20px;
    grid-template-rows: 65px;
    grid-template-columns: 50px 100px;
    grid-gap: 2 px;
    grid-template-areas:
    "area1 area2"
}

.menu-icon{
    color: #000000;
    grid-area: area1;
    justify-self: center;
    margin-top: 5px;
    width: 50px;
    height: 40px;
}

.menu-icon:hover {
    color: rgba(0, 0, 0, 0.572);
    cursor: pointer;
}
.menu-text{
    cursor: default;
    grid-area: area2;
    justify-content: center;
    margin-top: 11px;
}


.container-principal{
    top: 150px;
    left: 260px;
    position: absolute;
    width: 800px;
    height: 54;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.827);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.container-principal *{
    margin: 10px 5px 10px 0px;
}

.user-perfil-container{
    width: 750px;
    height: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: url('/img/imagenFondoSensores.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);  
}
.info-icon-1{
    width: 60px;
    height: 60px;
}
.User-name{
    border-bottom:black 3px solid;
    font-size: 30px;
}

.user-description-container{

    display: grid;
    border-radius: 20px;
    background-image: url('/img/imagenFondoSensores.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-areas:
    "area1 area2   .   area3 area4"
    "area5 area6   .   area7 area8"
    "area9 area10   .   area11 area12";
    background-color: rgb(255, 255, 255);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.description-icon1{
    align-self: flex-start;
    justify-self: center;
    width: 50px;
    height: 50px; 
    grid-area: area1;
}

.user-info-text1{
    align-self: flex-start;
    justify-self: center;
    grid-area: area2;
}
.user-info-text11{
    padding-top: 30px;
    align-self: flex-start;
    justify-self: center;
    grid-area: area2;
}

.description-icon2{
    align-self: flex-start;
    justify-self: center;
    width: 50px;
    height: 50px; 
    grid-area: area5;
}

.user-info-text2{
    align-self: flex-start;
    justify-self: center;
    grid-area: area6;
}
.user-info-text22{
    padding-top: 30px;
    align-self: flex-start;
    justify-self: center;
    grid-area: area6;
}

.description-icon3{
    align-self: flex-start;
    justify-self: center;
    width: 50px;
    height: 50px; 
    grid-area: area9;
}

.user-info-text3{
    align-self: flex-start;
    justify-self: center;
    grid-area: area10;
}
.user-info-text33{
    padding-top: 30px;
    align-self: flex-start;
    justify-self: center;
    grid-area: area10;
}

.description-icon4{
    align-self: flex-start;
    justify-self: center;
    width: 50px;
    height: 50px; 
    grid-area: area3;
}

.user-info-text4{
    align-self: flex-start;
    justify-self: center;
    grid-area: area4;
}
.user-info-text44{
    padding-top: 30px;
    align-self: flex-start;
    justify-self: center;
    grid-area: area4;
}

.description-icon5{
    align-self: flex-start;
    justify-self: center;
    width: 50px;
    height: 50px; 
    grid-area: area7;
}

.user-info-text5{
    align-self: flex-start;
    justify-self: center;
    grid-area: area8;
}
.user-info-text55{
    padding-top: 30px;
    align-self: flex-start;
    justify-self: center;
    grid-area: area8;
}






