@font-face {
    font-family: Pontano-Sans;
    src: url(fuentes/PontanoSans-Regular.ttf);
}


body{
    height: 800px;
    background-image: url('/img/FondoEmpresa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.userBtn{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-basis: auto;
    margin-left: 1150px;
    border-radius: 20px;
    background-color: black;
}

.userBtn-icono{
    width: 100px;
    height: 40px;
    color: aliceblue;
}



.texto-usuarios{
    color: aliceblue;
    font-family: Pontano-Sans;
}


.userBtn:hover{
    background-color: rgba(0, 0, 0, 0.798);
    border-color: antiquewhite;
}

.menu-container{
    margin-left: 5px;
    margin-top: 10px;
    position: absolute;
    display: grid;
    border-radius: 20px;
    grid-template-rows: 65px;
    grid-template-columns: 50px 100px;
    grid-gap: 2 px;
    grid-template-areas:
    "area1 area2"
}

.menu-icon{
    color: #000000;
    grid-area: area1;
    justify-self: center;
    margin-top: 5px;
    width: 50px;
    height: 40px;
}

.menu-icon:hover{
    color: rgba(0, 0, 0, 0.572);
    cursor: pointer;
}
.menu-text{
    cursor: default;
    grid-area: area2;
    justify-content: center;
    margin-top: 11px;
}


.add-sensor-container{
    margin-top: 70px;
    margin-left: 105px;
    width: 1100px;
    height: 600px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    background-image: url('/img/imagenFondoSensores.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.add-sensor-container *{
    margin: 90px 20px 5px 0px;
}

.titulo-container{
    cursor: default;
    margin-top: 15px;
    font-family: Pontano-Sans;
    font-size: 30px;
}


.buscar-tecnicos-container{
    
    margin-top: 30px;

    display: grid;
    border-radius: 20px;
    grid-template-rows: 80px 80px ;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 5px;
    grid-template-areas:
    "area1   .   area3"
    "area2 area2 area3";
    background-color: rgba(255, 255, 255, 0);

}
.inputdata{
    background-color: #b5b5b5;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    border-bottom: #ffffff;
    width: 80%;
    border-radius: 20px;
    grid-area: area2;
    justify-self: start;
    align-self: flex-end;
    margin-bottom: 47px;
    margin-left: 50px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);

}

#boton-Tecnico{
    background-color: #00000047;
    border-color: #ffffff;
    border-radius: 20px;
    grid-area: area3;
    width: 150px;
    height: 30px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#boton-Tecnico:hover{
    background-color: #9d9d9d47;
    border-color: #000000;
}

.buscar-text{
    cursor: default;
    grid-area: area1;
    justify-self: start;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: 50px;
}




.info-tecnicos-container{


    margin-top: 30px;

    display: grid;
    border-radius: 20px;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 5 px;
    grid-template-areas:
    "area1 area1 area1"
    "area2 area2 area2"
    "area3 area3 area4";
    background-color: rgb(255, 255, 255);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
        0.3em 0.3em 1em rgba(0,0,0,0.3);
        
}

.titulo-info-tecnicos{
    border-bottom: black  3px solid;
    font-family: Pontano-Sans;  
    position: absolute;
    grid-area: area1;
    justify-self:start;
    margin-top: 18px;
    margin-left: 10px;
}

.titulo-info-tecnicos:hover{
    color: rgb(107, 107, 107);
    cursor: pointer;
    border-bottom: rgb(107, 107, 107)  3px solid;
}

.decorativo-line-infotecnicos{
    border-radius: 50%;
    width: 880px;
    height: 3px;
    background-color: rgba(196, 196, 196, 0.733);
    position: absolute;
    grid-area: area1;
    justify-self: center;
    align-self: end;
    border-radius: 5%;
    margin-bottom: 195px;
    opacity: 50%;
}